.btn-group {
    margin-bottom : 10px;
}

#tree, #info {
    float      : left;
    overflow-y : auto;
    height     : 720px;
    width      : 500px;
    background : #CEE2E8;
    border     : solid 2px #6AA8BA;
}

#info {
    margin-left  : 15px;
    width        : 617px;
    height       : 690px;
    border-color : #DC6816;
    background   : #FFFBF9;
    padding      : 15px;
}